@mixin text-border($color) {
  $border-width-diagonal: 0.1rem;
  $border-width-orthogonal: $border-width-diagonal * 1.5;

  text-shadow:
                               0 #{-$border-width-orthogonal} 0 $color, // up
    #{   $border-width-diagonal} #{  -$border-width-diagonal} 0 $color, // right up
    #{ $border-width-orthogonal}                            0 0 $color, // right
    #{   $border-width-diagonal} #{   $border-width-diagonal} 0 $color, // right down
                               0 #{ $border-width-orthogonal} 0 $color, // down
    #{  -$border-width-diagonal} #{   $border-width-diagonal} 0 $color, // left down
    #{-$border-width-orthogonal}                            0 0 $color, // left
    #{  -$border-width-diagonal} #{  -$border-width-diagonal} 0 $color; // left up
}
