$separation: 12.5%;

#accountant {
  position: absolute;
  font-size: 1.25em;
  right: $separation;
  bottom: 0;
  left: $separation;
}
.accountant-notes {
  width: 33.33333333%;
  float: left;
  position: relative;
  text-align: center;
  padding: .3em 0 .4em;
  line-height: 1;
  margin-top: 3.1rem;
  border-style: solid;
  border-width: 14px 22px 21px;
  border-image: url('/images/textures/roll-box.png') 14 22 21 fill stretch;
  @include text-border(#000);
}
.accountant-label {
  display: block;
}
.accountant-figure {
  display: block;
  font-size: 3em;
  font-weight: 900;
}
.accountant-left {
  right: -1em;
}
.accountant-right {
  left: -1em;
}
.accountant-big {
  font-size: 1.5em;
  margin-top: 0;
  z-index: 7;
}
#invest {
}
#total {
  border-style: solid;
  border-width: 14px 22px 21px;
  border-image: url('/images/textures/roll-box.png') 14 22 21 fill stretch;
}
#profit {
}
