$separation: 12.5%;

#accountant {
  position: fixed;
  font-size: 1.25em;
  right: $separation;
  bottom: 0;
  left: $separation;
}
.accountant-notes {
  width: 33.33333333%;
  background-color: purple;
  float: left;
  text-align: center;
  padding: 1em 0 .5em;
  line-height: 1;
  margin-top: 3.1rem;
}
.accountant-label {
  display: block;
}
.accountant-figure {
  display: block;
  font-size: 3em;
  font-weight: 900;
}
.accountant-big {
  background-color: teal;
  font-size: 1.5em;
  margin-top: 0;
}
#invest {
}
#total {
}
#profit {
}
