$selected-color: #fff200;

.item {
  float: left;
  padding: .25em .75em;
  margin: .25em;
  min-height: 6.2rem;
  cursor: pointer;
}
.item img {
  display: block;
}
.item span {
  display: block;
  text-align: center;
}
.item-selected {
}
.item-selected img,
.item-selected span {
  filter: drop-shadow(0 0 0.85em rgba($selected-color, .5)) drop-shadow(0 0 0.25em lighten($selected-color, 5%));
}

