#level {
  position: fixed;
  top: 14rem;
  bottom: 10rem;
  left: 9%;
  font-size: 1.5em;
  background-color: pink;
  vertical-align: middle;
}
.level-label,
.level-area,
.level-separator,
.level-level {
  display: inline-block;
  vertical-align: middle;
}
.level-label {
}
.level-area {
}
.level-separator {
}
.level-level {
}
