.number-select-add,
.number-select-number,
.number-select-subtract {
  display: block;
  user-select: none;
}
.number-select {
  background-color: teal;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
}
.number-select-add,
.number-select-subtract {
  cursor: pointer;
}
.number-select-add {
  background-color: blue;
}
.number-select-number {
  background-color: green;
}
.number-select-subtract {
  background-color: brown;
}
.number-select-pulsate {
  animation-name: pulsate;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 .25em red;
  }
  100% {
    box-shadow: 0 0 0 transparent;
  }
}
