$warning-color: #b83d00;

.number-select-add,
.number-select-number,
.number-select-subtract {
  display: block;
  user-select: none;
}
.number-select {
  text-align: center;
}
.number-select-add,
.number-select-subtract {
  padding: 0 .3em .15em;
  line-height: .8;
  margin: 0;
}
.number-select-add {
}
.number-select-number {
  margin: .4em 0;
}
.number-select-subtract {
}
.number-select-pulsate {
  animation-name: pulsate;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 .25em $warning-color;
    background-color: $warning-color;
  }
  100% {
    box-shadow: 0 0 0 transparent;
    background-color: transparent;
  }
}
